{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<h1>Nueva reservación</h1>

<form action="{{ path('adminareascomunes_create') }}" method="post" {{ form_enctype(form) }}>

<div class="form-group">
	<label>Area</label>
	{{ form_widget(form.Area, {'attr': {'class': 'form-control'}}) }}
	<span class="help-block m-b-none">{{ form_errors(form.Area) }}</span>
</div>
<div class="form-group">
	<label>Tipo</label>
	{{ form_widget(form.Tipo, {'attr': {'class': 'form-control'}}) }}
	<span class="help-block m-b-none">{{ form_errors(form.Tipo) }}</span>
</div>
<div class="form-group">
	<label>Ubicacion</label>
	{{ form_widget(form.Ubicacion, {'attr': {'class': 'form-control'}}) }}
	<span class="help-block m-b-none">{{ form_errors(form.Ubicacion) }}</span>
</div>
{{ form_widget(form._token) }}

    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('adminareascomunes') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>
{% endif %}

{% endblock %}