{% extends '::base.html.twig' %}
{% block body %}

<h1>Estado Financiero</h1>

<b>Cuotas: </b>
{% for entity in cuotas %}
	<span id="Cuotas-{{entity.Id}}">{{entity.Monto}}</span>
	<br>
{% endfor %}

<br>
<b>Ingresos: </b>
{% for entity in ingresos %}
	<span id="Ingresos-{{entity.Id}}">{{ entity.Monto}}</span>
	<br>
{% endfor %}

<br>
<b>Egresos: </b>
{% for entity in egresos %}
	<span id="totalegresos" class="egresos">{{entity.Monto}}</span>
	<br>
{% endfor %}

<br>
<b>Gastos: </b>
{% for entity in gastos %}
	<span id="Gastos-{{entity.Id}}">{{entity.Monto}}</span>
	<br>
{% endfor %}

<br>
<b>Presupuesto: </b>
{% for entity in presupuesto %}
	<span id="Presupuesto-{{entity.Id}}">{{entity.Monto}}</span>
	<br>
{% endfor %}


{% endblock %}