{% extends '::base.html.twig' %}
{% block body %}

<h1>Estado Financiero</h1>

{% for entity in cuotas %}
Cuotas: {{entity.Monto}}
{% endfor %}
<br>
{% for entity in ingresos %}
Ingresos: {{ entity.Monto}}
{% endfor %}
<br>
{% for entity in egresos %}
Egresos: {{entity.Monto}}
{% endfor %}
<br>
{% for entity in gastos %}
Gastos: {{entity.Monto}}
{% endfor %}
<br>
{% for entity in presupuesto %}
Presupuesto: {{entity.Monto}}
{% endfor %}

{% endblock %}