{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default table-responsive">
    <div class="panel-heading">
    <b>Quejas/Sugerencias</b>
        <span class="label label-info pull-right"></span>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('quejsug_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.Titulo }}</td>
                        <td>{{ entity.Descripcion }}</td>
                        <td>{% if entity.Fecha %}{{ entity.Fecha|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ entity.Hora|date('H:i:s') }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('quejsug_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('quejsug_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div><!-- /panel -->


{% endblock %}