{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TESORERO') %}
<h1>Nuevo Gasto</h1>

<form action="{{ path('gastos_create') }}" method="post" {{ form_enctype(form) }}>
    
    <div class="form-group">
        <label>Tipo</label>
        {{ form_widget(form.Tipo, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Tipo) }}</span>
    </div>
    <div class="form-group">
        <label>Periodo</label>
        {{ form_widget(form.Periodo, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Periodo) }}</span>
    </div>
    <div class="form-group">
        <label>Concepto</label>
        {{ form_widget(form.Concepto, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Concepto) }}</span>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        {{ form_widget(form.Descripcion, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Descripcion) }}</span>
    </div>
    <div class="form-group">
        <label>Monto</label>
        {{ form_widget(form.Monto, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Monto) }}</span>
    </div>
    <div class="form-group">
        <label>Proveedor</label>
        {{ form_widget(form.Proveedor, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Proveedor) }}</span>
    </div>

    {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}
    
    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('gastos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>

{% endif %}
{% endblock %}