{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>gastos</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Tipo:</b> {{ entity.Tipo }}</p>
        <p><b>Periodo:</b> {{ entity.Periodo }}</p>
        <p><b>Concepto:</b> {{ entity.Concepto }}</p>
        <p><b>Descripcion:</b> {{ entity.Descripcion }}</p>
        <p><b>Monto:</b> {{ entity.Monto }}</p>
        <p><b>Proveedor:</b> {{ entity.Proveedor }}</p>

        <form action="{{ path('gastos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i>&nbsp;Eliminar</button>
            <a class="btn btn-warning" href="{{ path('gastos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
            <a class="btn btn-success" href="{{ path('gastos_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
        </form>
    </div>
</div>

{% endblock %}