{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>gastos</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Tipo:</b> {{ entity.Tipo }}</p>
        <p><b>Concepto:</b> {{ entity.Concepto }}</p>
        <p><b>Descripcion:</b> {{ entity.Descripcion }}</p>
        <p><b>Monto:</b> {{ entity.Monto }}</p>

        <a href="{{ path('gastos') }}">Regresar</a>
        <a href="{{ path('gastos_edit', { 'id': entity.id }) }}">Editar</a>
        <form action="{{ path('gastos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>

{% endblock %}