{% extends '::base.html.twig' %}
{% block body %}

<h1>Nuevo Ingreso</h1>

<form action="{{ path('ingresos_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="form-group">
        <label>Tipo</label>
        {{ form_widget(form.Tipo, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Tipo) }}</span>
    </div>
    <div style="display:none;">
        <div class="form-group">
            <label>Fecha</label>
            {{ form_widget(form.Fecha, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.Fecha) }}</span>
        </div>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        {{ form_widget(form.Descripcion, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Descripcion) }}</span>
    </div>
    <div class="form-group">
        <label>Monto</label>
        {{ form_widget(form.Monto, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Monto) }}</span>
    </div>

    {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('ingresos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>

{% endblock %}