{% extends '::base.html.twig' %}
{% block body %}

<h1>GastosFijos creation</h1>

<form action="{{ path('gastosfijos_create') }}" method="post" {{ form_enctype(form) }}>
    
    <div class="form-group">
        <label>Nombre</label>
        {{ form_widget(form.Nombre, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Nombre) }}</span>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        {{ form_widget(form.Descripcion, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Descripcion) }}</span>
    </div>
    <div class="form-group">
        <label>Monto</label>
        {{ form_widget(form.Monto, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Monto) }}</span>
    </div>

    {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}
    
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('gastosfijos') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}