{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>Moroso</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Nombre:</b> {{ entity.Nombre }}</p>
        <p><b>RFC:</b> {{ entity.RFC }}</p>
        <p><b>Pais:</b> {{ entity.Pais }}</p>
        <p><b>Estatus:</b> {{ entity.Estatus }}</p>

        <form action="{{ path('proveedores_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i>&nbsp;Eliminar</button>
            <a class="btn btn-warning" href="{{ path('proveedores') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
            <a class="btn btn-success" href="{{ path('proveedores_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
        </form>
    </div>
</div>

{% endblock %}