{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COLONO') or is_granted('ROLE_MESADIRECTIVA') %}
<div class="alert alert-info" role="alert">
    <div class="text-center">
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
    </span>
      <span class="sr-only">Info:</span>
      <span>Todas las quejas o sugerencias son anónimas</span>
    </div>
</div>

<div class="panel panel-default table-responsive">
    <div class="panel-heading">
    <b>Quejas/Sugerencias</b>
        <span class="label label-info pull-right"></span>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('quejassugerencias_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.Tipo }}</td>
                        <td>{{ entity.Titulo }}</td>
                        <td>{{ entity.Descripcion[:70] ~ '...'  }}</td>
                        <td>{% if entity.Fecha %}{{ entity.Fecha|date('d/m/Y') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('quejassugerencias_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('quejassugerencias_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div><!-- /panel -->

{% endif %}
{% endblock %}