{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>{{ entity.Tipo }}</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Tipo:</b> {{ entity.Tipo }}</p>
        <p><b>Titulo:</b> {{ entity.Titulo }}</p>
        <p><b>Descripcion:</b> {{ entity.Descripcion }}</p>
        <p><b>Fecha:</b> {{ entity.Fecha|date('d/m/Y') }}</p>

        <a href="{{ path('quejassugerencias') }}">Regresar</a>
        <a href="{{ path('quejassugerencias_edit', { 'id': entity.id }) }}">Editar</a>
        <form action="{{ path('quejassugerencias_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>

{% endblock %}