{% extends '::base.html.twig' %}
{% block body %}

<h1>Agregar Hora de Salida</h1>

<form action="{{ path('visitantes_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="form-group">
        <label>Nombre</label>
        {{ form_widget(edit_form.Nombre, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Nombre) }}</span>
    </div>
    <div class="form-group">
        <label>Automovil</label>
        {{ form_widget(edit_form.Automovil, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Automovil) }}</span>
    </div>
    <div class="form-group">
        <label>Destino</label>
        {{ form_widget(edit_form.Destino, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Destino) }}</span>
    </div>
    <div style="display:none;">
        <div class="form-group">
            <label>F_Entrada</label>
            {{ form_widget(edit_form.F_Entrada, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(edit_form.F_Entrada) }}</span>
        </div>
        <div class="form-group">
            <label>H_Entrada</label>
            {{ form_widget(edit_form.H_Entrada, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(edit_form.H_Entrada) }}</span>
        </div>
        <div class="form-group">
            <label>H_Salida</label>
            {{ form_widget(edit_form.H_Salida, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(edit_form.H_Salida) }}</span>
        </div>
    </div>
    
    {{ form_widget(edit_form._token) }}
</form>
        <button class="btn btn-success" type="submit"><i class="fa fa-pencil"></i>&nbsp;Actualizar</button>
        <a class="btn btn-warning" href="{{ path('visitantes') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
        <form action="{{ path('visitantes_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i>&nbsp;Eliminar</button>
        </form>

{% endblock %}