{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>visitantes</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Nombre:</b> {{ entity.Nombre }}</p>
        <p><b>Automovil:</b> {{ entity.Automovil }}</p>
        <p><b>Destino:</b> {{ entity.Destino }}</p>
        <p><b>Fecha de Entrada:</b> <td>{{ entity.FEntrada|date('Y-m-d') }}</td></p>
        <p><b>Hora de Entrada:</b> <td>{{ entity.HEntrada|date('H:i:s') }}</td></p>
        <p><b>Hora de Salida:</b> <td>{{ entity.HSalida|date('H:i:s') }}</td></p>

        <a href="{{ path('visitantes') }}">Regresar</a>
        <a href="{{ path('visitantes_edit', { 'id': entity.id }) }}">Editar</a>
        <form action="{{ path('visitantes_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>

{% endblock %}