{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MESADIRECTIVA') %}

<h1>Editar Avisos</h1>

<form action="{{ path('Avisos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="form-group">
        <label>Titulo</label>
        {{ form_widget(edit_form.Titulo, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Titulo) }}</span>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        {{ form_widget(edit_form.Descripcion, {'attr': {'class': 'form-control', 'rows': '10'} }) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Descripcion) }}</span>
    </div>
    <div style="display:none;">
        <div class="form-group">
            <label>Fecha</label>
            {{ form_widget(edit_form.Fecha, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(edit_form.Fecha) }}</span>
        </div>
    </div>
    <div style="display:none;">
        <div class="form-group">
            <label>Autor</label>
            {{ form_widget(edit_form.Autor, {'attr': {'class': 'form-control autor'}}) }}
            <span class="help-block m-b-none">{{ form_errors(edit_form.Autor) }}</span>
        </div>
    </div>
    {{ form_widget(edit_form._token) }}

    <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>&nbsp;Actualizar</button>
    <a class="btn btn-warning" href="{{ path('Avisos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
</form>

    {#<form action="{{ path('Avisos_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>#}

{% endif %}

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    var username = $("#username").text();
    $(".autor").val(username);
});
</script>
{% endblock %}