{% extends '::base.html.twig' %}

{# 
{% block stylesheets %}
        {{ asset('bundles/sisaf/css/datepicker.css') }}
{% endblock %}

{% block javascript %}
{{ asset('bundles/sisaf/js/bootstrap-datepicker.min.js') }}
{% endblock %}
#}

{% block body %}

<h1>Crear Avisos</h1>

<form action="{{ path('Avisos_create') }}" method="post" {{ form_enctype(form) }}>

<div class="form-group">
	<label>Titulo</label>
	{{ form_widget(form.Titulo, {'attr': {'class': 'form-control'}}) }}
	<span class="help-block m-b-none">{{ form_errors(form.Titulo) }}</span>
</div>
<div class="form-group">
	<label>Descripción</label>
	{{ form_widget(form.Descripcion, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
	<span class="help-block m-b-none">{{ form_errors(form.Descripcion) }}</span>
</div>
<div style="display:none;">
	<div class="form-group">
		<label>Fecha</label>
		{{ form_widget(form.Fecha, {'attr': {'class': 'form-control'}}) }}
		<span class="help-block m-b-none">{{ form_errors(form.Fecha) }}</span>
	</div>
</div>
{{ form_widget(form._token) }}

    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('Avisos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>

{% endblock %}