{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MESADIRECTIVA') or is_granted('ROLE_COLONO') %}
<div class="panel panel-default">
	<div class="panel-heading"><h4>{{entity.Titulo }}</h4></div>
	<div class="panel-body">

		<pre>{{ entity.Descripcion }}</pre>
		
		<p><b>Enviado por:</b> {{ entity.Autor }}</p>
		<p><b>Fecha de envío:</b> {{ entity.Fecha|date('d/m/Y') }}</p>
		<hr>

		<form action="{{ path('Avisos_delete', { 'id': entity.id }) }}" method="post">
		    {{ form_widget(delete_form) }}
		    
		    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MESADIRECTIVA') %}
		    <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i>&nbsp;Eliminar</button>
		    <a class="btn btn-success" href="{{ path('Avisos_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
		    {% endif %}
            <a class="btn btn-warning" href="{{ path('Avisos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
            
		</form>
	</div>
</div>

{% endif %}
{% endblock %}