{% extends '::base.html.twig' %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading"><h4>{{entity.Titulo }}</h4></div>
	<div class="panel-body">

		<p>{{ entity.Descripcion }}</p>
		<p><b>Fecha de envío:</b> {{ entity.Fecha|date('d/m/Y') }}</p>
		<hr>
		<a href="{{ path('Avisos') }}">Back to the list</a>
		<br>
		<a href="{{ path('Avisos_edit', { 'id': entity.id }) }}">Edit</a>

		<form action="{{ path('Avisos_delete', { 'id': entity.id }) }}" method="post">
		    {{ form_widget(delete_form) }}
		    <button type="submit">Delete</button>
		</form>
	</div>
</div>
{% endblock %}