{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<div class="panel panel-default table-responsive">
    <div class="panel-heading">
    <b>Residentes</b>
        <span class="label label-info pull-right"></span>
    </div>
    <div class="padding-md">
        <div class="alert alert-danger" role="alert">
            <div class="text-center">
              <span class="fa fa-exclamation-triangle fa-2x"></span>
              <span class="sr-only">Error:</span>
              <span>El uso indebido de este modulo afectaría a uno o más usuarios del sistema, usese con precaución.</span>
            </div>
        </div>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Contraseña</th>
                    <th>Correo</th>
                    <th>Casa/Departamento</th>
                    <th>Telefono</th>
                    {#<th>Permisos</th>#}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.password }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.casadepto }}</td>
                        <td>{{ entity.telefono }}</td>
                        {#<td>{{ entity.roles|join }}</td>#}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div><!-- /panel -->

{% endif %}
{% endblock %}
