{% extends '::base.html.twig' %}
{% block body %}

<h1>Cuotas list</h1>

<table class="records_list table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Persona</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Concepto</th>
            <th>Monto</th>
            <th>Abono</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('cuotas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.Persona }}</td>
            <td>{% if entity.Fecha %}{{ entity.Fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.Tipo }}</td>
            <td>{{ entity.Concepto }}</td>
            <td>{{ entity.Monto }}</td>
            <td>{{ entity.Abono }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('cuotas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cuotas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('cuotas_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}