{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TESORERO') %}
<h1>Registrar nueva Cuota</h1>

<form action="{{ path('cuotas_create') }}" method="post" {{ form_enctype(form) }}>

<a href="#simpleModal" role="button" data-toggle="modal" class="btn btn-primary btn-small">Simple Modal</a>


    <div class="form-group">
        <label>Persona</label>
        {{ form_widget(form.Persona, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Persona) }}</span>
    </div>
    <div style="display:none;">
        <div class="form-group">
            <label>Fecha</label>
            {{ form_widget(form.Fecha, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.Fecha) }}</span>
        </div>
    </div>
    <div class="form-group">
        <label>Tipo</label>
        {{ form_widget(form.Tipo, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Tipo) }}</span>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        {{ form_widget(form.Descripcion, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Descripcion) }}</span>
    </div>
    <div class="form-group">
        <label>Monto</label>
        {{ form_widget(form.Monto, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Monto) }}</span>
    </div>
    <div class="form-group">
        <label>Frecuencia de pago</label>
        {{ form_widget(form.Frecuencia, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Frecuencia) }}</span>
    </div>

    {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('cuotas') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>

{% endif %}
{% endblock %}

{% block modal %}
<div class="modal fade in" id="simpleModal" aria-hidden="false" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4>Modal header</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body...</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
                        <a href="ui_element.html#" class="btn btn-danger btn-sm">Save changes</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
{% endblock %}