{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TESORERO') %}
<h1>Registrar nueva Cuota</h1>

<form action="{{ path('cuotas_create') }}" method="post" {{ form_enctype(form) }}>


<a href="form_element.html#formModal" class="btn btn-success" data-toggle="modal">Persona</a>


    <div style="display:none;">
        <div class="form-group">
            <label>Fecha</label>
            {{ form_widget(form.Fecha, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.Fecha) }}</span>
        </div>
    </div>
    <div class="form-group">
        <label>Tipo</label>
        {{ form_widget(form.Tipo, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Tipo) }}</span>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        {{ form_widget(form.Descripcion, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Descripcion) }}</span>
    </div>
    <div class="form-group">
        <label>Monto</label>
        {{ form_widget(form.Monto, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Monto) }}</span>
    </div>
    <div class="form-group">
        <label>Frecuencia de pago</label>
        {{ form_widget(form.Frecuencia, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Frecuencia) }}</span>
    </div>

    {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}
    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('cuotas') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>

{% endif %}
{% endblock %}

{% block modal %}
<div class="modal fade" id="formModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Persona(s)</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <label>Persona</label>
                {{ form_widget(form.Persona, {'attr': {'class': 'form-control'}}) }}
                <span class="help-block m-b-none">{{ form_errors(form.Persona) }}</span>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}