{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TESORERO') %}
<div class="panel panel-default">
    <div class="panel-heading"><h1>Cuota</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>       
        <p><b>Tipo:</b> {{ entity.Tipo }}</p>
        <p><b>Descripcion:</b> {{ entity.Descripcion }}</p>
        <p><b>Fecha:</b> {{ entity.fechaDeInicio|date('d/M/Y') }}</p>
        <p><b>Monto:</b> {{ entity.Monto }}</p>
     
    <form action="{{ path('cuotas_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TESORERO') %}
            <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i>&nbsp;Eliminar</button>
            <a class="btn btn-success" href="{{ path('cuotas_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
            {% endif %}
            <a class="btn btn-warning" href="{{ path('cuotas') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
            
    </form>

    </div>
</div>

{% endif %}
{% endblock %}