{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>Departamento {{ entity.departamento }}</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Edificio:</b> {{ entity.edificio }}</p>
        <p><b>Piso:</b> {{ entity.piso }}</p>
        <p><b>Departamento:</b> {{ entity.departamento }}</p>

        <form action="{{ path('departamentos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i>&nbsp;Eliminar</button>
            <a class="btn btn-warning" href="{{ path('departamentos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
            <a class="btn btn-success" href="{{ path('departamentos_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
        </form>
    </div>
</div>

{% endif %}
{% endblock %}