{% extends '::base.html.twig' %}
{% block body %}

<h1>Registro de Ingresos</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Folio</th>
            <td>{{ entity.Folio }}</td>
        </tr>
        <tr>
            <th>Persona</th>
            <td>{{ entity.Persona }}</td>
        </tr>
        <tr>
            <th>Nombres</th>
            <td>{{ entity.Nombres }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ entity.Apellidos }}</td>
        </tr>
        <tr>
            <th>Aporte</th>
            <td>{{ entity.Aporte }}</td>
        </tr>
        <tr>
            <th>Periodo</th>
            <td>{{ entity.Periodo }}</td>
        </tr>
        <tr>
            <th>No_prorrateo</th>
            <td>{{ entity.NoProrrateo }}</td>
        </tr>
        <tr>
            <th>Importe</th>
            <td>{{ entity.Importe }}</td>
        </tr>
        <tr>
            <th>Saldo</th>
            <td>{{ entity.Saldo }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('regingresos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('regingresos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('regingresos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}