{% extends '::base.html.twig' %}
{% block body %}

<h1>Editar Moroso</h1>

<form action="{{ path('morosos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="form-group">
        <label>Persona</label>
        {{ form_widget(edit_form.Persona, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Persona) }}</span>
    </div>

    {{ form_widget(edit_form._token, {'attr': {'class': 'form-control'}}) }}

    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('morosos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('morosos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}