{% extends '::base.html.twig' %}
{% block body %}

<h1>Morosos list</h1>

<table class="records_list table table-hover panel panel-default">
    <thead>
        <tr>
            <th>Id</th>
            <th>Persona</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Residencia</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('morosos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.Persona }}</td>
            {% endfor %}
            {% for entity in usuario %}
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.casadepto }}</td>
            {% endfor %}

            {% for entity in entities %}
            <td>
                <ul>
                    <li>
                        <a href="{{ path('morosos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('morosos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}