{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<h1>Nuevo pago pendiente</h1>

<form action="{{ path('morosos_create') }}" method="post" {{ form_enctype(form) }}>
    
    <div class="form-group">
        <label>Persona</label>
        {{ form_widget(form.Persona, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(form.Persona) }}</span>
    </div>
    <div style="display:none">
        <div class="form-group">
            <label>Fecha</label>
            {{ form_widget(form.Fecha, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(form.Fecha) }}</span>
        </div>
    </div>
    {{ form_widget(form._token, {'attr': {'class': 'form-control'}}) }}

    <p>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>&nbsp;Crear</button>
        <a class="btn btn-warning" href="{{ path('morosos') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
    </p>
</form>

{% endif %}
{% endblock %}