{% extends '::base.html.twig' %}
{% block body %}

<h1>Morosos</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Persona</th>
            <td>{{ entity.Persona }}</td>
        </tr>
        <tr>
            <th>Correo</th>
            <td>{{ entity.Correo }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.Telefono }}</td>
        </tr>
        <tr>
            <th>Recidencia</th>
            <td>{{ entity.Recidencia }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('morosos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('morosos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('morosos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}