{% extends '::base.html.twig' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading"><h1>Moroso</h1></div>
    <div class="panel-body record_properties">
        <p><b>Id:</b> {{ entity.id }}</p>
        <p><b>Persona:</b> {{ entity.Persona }}</p>
        <p><b>Correo:</b> {{ entity.Correo }}</p>
        <p><b>Telefono:</b> {{ entity.Telefono }}</p>
        <p><b>Residencia:</b> {{ entity.Recidencia }}</p>

        <a href="{{ path('morosos') }}">Regresar</a>
        <a href="{{ path('morosos_edit', { 'id': entity.id }) }}">Editar</a>
        <form action="{{ path('morosos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>

{% endblock %}