{% extends '::base.html.twig' %}
{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<h1>Editar reservación</h1>

<form action="{{ path('areascomunes_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
     <div class="form-group">
        <label>Nombre</label>
        {{ form_widget(edit_form.Nombre, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Nombre) }}</span>
    </div>
    <div class="form-group">
        <label>Reservar a nombre de</label>
        {{ form_widget(edit_form.Persona, {'attr': {'class': 'form-control nombreReserva'} }) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Persona) }}</span>
    </div>
    <div class="form-group">
        <label>Fecha de reservación</label>
        {{ form_widget(edit_form.Fecha, {'attr': {'class': 'form-control'}}) }}
        <span class="help-block m-b-none">{{ form_errors(edit_form.Fecha) }}</span>
    </div>
    <div style="display:none;">
        <div class="form-group">
            <label>Fecha de Registro</label>
            {{ form_widget(edit_form.FechaRegistro, {'attr': {'class': 'form-control'}}) }}
            <span class="help-block m-b-none">{{ form_errors(edit_form.FechaRegistro) }}</span>
        </div>
    </div>
    
    {{ form_widget(edit_form._token) }}
    <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i>&nbsp;Actualizar</button>
    <a class="btn btn-warning" href="{{ path('areascomunes') }}"><i class="fa fa-reply"></i>&nbsp;Regresar</a>
</form>

    {#<form action="{{ path('areascomunes_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
       <button type="submit">Delete</button>
    </form>#}
{% endif %}

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    var username = $("#username").text();
    $(".nombreReserva").val(username);
});
</script>
{% endblock %}